.section-one {
    margin: 10px;


}



.section-one__image img {
    object-fit: cover;
    width: 500px;
    height: 435px;
    border: solid 1px #D0D0D0;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.section-one__title {
    margin-top: 45px;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.section-one__title i {
    color: #01AFE6;
    margin-right: 10px;
    font-size: 30px;
}

.section__name {
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 50px;

}

.section__name i {
    margin-right: 10px;
}

.section-one__buy {
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 20px;


}

.section-one__buy i {
    margin-right: 10px;
}

.section-one__id {
    color: #01AFE6;
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.section-one__id i {
    margin-right: 15px;

}

/* button */
.section-one__button--table {
    table {
        border-collapse: collapse;
        width: 200px;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        font-size: 16px;
    }

    .quantity-input {
        width: 50px;
        text-align: center;
        border: none;
        font-size: 16px;
    }

    .quantity-input:focus {
        outline: none;
    }
}

.section-one__button--one button {
    width: 200px;
    height: 43px;
    border: none;
    background-color:#F6BB1D !important;
    border-radius: 10px;
}

.section-one__button--two button {
    width: 200px;
    height: 43px;
    border: none;
    background-color:#F6BB1D !important;
    border-radius: 10px;
}

/* end button */
/*  end col-5 */


/* col-3 */
/* section-one__ship */
.section-one__ship {
    margin-top: 30px;
    border: solid 1px #D0D0D0;
    padding: 10px;
}

.section-one__all {
    display: flex;

}

.section-one__ship--icon i {
    color: #A2A3A3;
    margin-right: 10px;
    text-align: center;
}

.section-one__button--big button {
    font-size: 18px;
    margin-left: 60px;
    margin-top: 40px;
    background-color:#F6BB1D !important;
    color: black;
    border: none;
    margin-bottom: 20px;
    height: 50px;
}

.section-one__call {
    border-bottom: 1px dashed #D0D0D0;
    border-top: 1px dashed #D0D0D0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-one__call--number {
    display: flex;
}

.section-one__call--icon i {
    color: #A2A3A3;
}

.section-one__call--sdt {
    margin-left: 15px;
    color: red;

}

.section-one__call-registration {
    display: flex;
    margin-top: 50px;


}

.section-one__call-button button {
    margin-left: 5px;
    border: none;
    background-color: #01AFE6;
    border-radius: 5px;

}

.section-one__call-title {
    margin-left: 90px;
}

.section-one__request--shop {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-one__request--input {
    text-align: center;

}

.section-one__request--input input {
    width: 250px;
    
}

.section-one__request--input button {
    background-color:#F6BB1D !important;
    border: none;


}

/* end section-one__ship */


/*  end col-3 */

/* section-two */
.section-two {
    position: relative;
    top: -130px;
    border: solid 1px #D0D0D0;
    width: 600px;
    text-align: center;
    left: 540px;

}

.section-two__title {
    margin-bottom: 30px;
}

/* end section-two */

.section-one {
    margin: 10px;


}

/* col-5 */
.section-one__image img {
    object-fit: cover;
    width: 500px;
    height: 435px;
    border: solid 1px #D0D0D0;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

.section-one__title {
    margin-top: 45px;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.section-one__title i {
    color: #01AFE6;
    margin-right: 10px;
    font-size: 30px;
}

.section__name {
    font-size: 14px;
    margin-left: 25px;
    margin-bottom: 50px;

}

.section__name i {
    margin-right: 10px;
}

.section-one__buy {
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 20px;


}

.section-one__buy i {
    margin-right: 10px;
}

.section-one__id {
    color: #01AFE6;
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.section-one__id i {
    margin-right: 15px;

}

/* button */
.section-one__button--table {
    table {
        border-collapse: collapse;
        width: 200px;
    }

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
        font-size: 16px;
    }

    .quantity-input {
        width: 50px;
        text-align: center;
        border: none;
        font-size: 16px;
    }

    .quantity-input:focus {
        outline: none;
    }
}

.section-one__button--one button {
    width: 200px;
    height: 43px;
    border: none;
    background-color: #01AFE6;
    border-radius: 10px;
}

.section-one__button--two button {
    width: 200px;
    height: 43px;
    border: none;
    background-color: #01AFE6;
    border-radius: 10px;
}

/* end button */
/*  end col-5 */


/* col-3 */
/* section-one__ship */
.section-one__ship {
    margin-top: 30px;
    border: solid 1px #D0D0D0;
    padding: 10px;
}

.section-one__all {
    display: flex;

}

.section-one__ship--icon i {
    color: #A2A3A3;
    margin-right: 10px;
    text-align: center;
}

.section-one__button--big button {
    font-size: 18px;
    margin-left: 60px;
    margin-top: 40px;
    background-color: #01AFE6;
    color: black;
    border: none;
    margin-bottom: 20px;
    height: 50px;
}

.section-one__call {
    border-bottom: 1px dashed #D0D0D0;
    border-top: 1px dashed #D0D0D0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-one__call--number {
    display: flex;
}

.section-one__call--icon i {
    color: #A2A3A3;
}

.section-one__call--sdt {
    margin-left: 15px;
    color: red;

}

.section-one__call-registration {
    display: flex;
    margin-top: 50px;


}

.section-one__call-button button {
    margin-left: 5px;
    border: none;
    background-color: #01AFE6;
    border-radius: 5px;

}

.section-one__call-title {
    margin-left: 90px;
}

.section-one__request--shop {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-one__request--input {
    text-align: center;

}

.section-one__request--input input {
    width: 250px;
}

.section-one__request--input button {
    background-color: #01AFE6;


}

/* end section-one__ship */


/*  end col-3 */

/* section-two */
.section-two {
    position: relative;
    top: -130px;
    border: solid 1px #D0D0D0;
    width: 600px;
    text-align: center;
    left: 540px;

}

.section-two__title {
    margin-bottom: 30px;
}

/* end section-two */

@media (min-width: 992px) {
    .section-one {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-one__image {
        flex: 1;
        text-align: center;
    }

    .section-one__details {
        flex: 2;
        padding-left: 20px;
    }

    .section-one__ship {
        flex: 1;
    }

    .sectione-one__image--background img {
        width: 100%;

    }

    .section-one__button--one button {
        width: 110%;
        margin-left: 10px;
        font-size: 14px;

    }

    .section-one__button--two button {
        width: 110%;
        font-size: 14px;

    }

    .section-two {
        position: relative;
        border: solid 1px #D0D0D0;
        width: 40%;
        text-align: center;
        left: 35%;

    }

    .section-two__title {
        margin-bottom: 30px;
    }

    .section-one__button--table table tr th {
        font-size: 13px;
    }

    .section-one__button--big button {
        font-size: 16px;
        margin-left: 18%;
        margin-top: 40px;
        background-color: #01AFE6;
        color: black;
        border: none;
        margin-bottom: 20px;
        height: 50px;
        border-radius: 10px;

    }

    .section-one__request--input input {
        width: 70%;
    }
   
    

}


@media (max-width: 991px) {
    .section-one {
        display: flex;
        flex-direction: column;
      
        align-items: center;
        
    }

   
    .section-one__image {
        text-align: center;
        width: 100%;
    }

    .section-one__image img {
        width: 100%;
        height: auto;
        margin-top: 45%;
       
    
    }

    
    .section-one__details {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
  
    .section-one__ship {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }

    
    .section-one__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-one__button--two button{
        margin-left: 70%;
    }

    .section-one__button--one button,
    .section-one__button--two button {
        width: 90%;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .section-one__button--big button {
        width: 90%;
        font-size: 16px;
        margin: 20px 0;
    }

   
    .section-one__button--table table {
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }

    .section-one__button--table table tr th {
        font-size: 12px;
    }

   
    .section-two {
        width: 90%;
        margin-top: 20px;
        left: 0;
        position: relative;
    }

   
    .section-one__request--input input {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section-one__request--input button {
        width: 90%;
        border: none;
    }
    .section-one .row {
        flex-wrap: wrap;
    }

   
    .col-4, .col-5 {
        flex: 0 0 50%; 
        max-width: 50%;
    }

    
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 15px;
       
    }
    .section-two{
        margin-top: 150px;
        margin-left: 5%;
    }
    .section-one__call-registration{
        margin-left: 70%;
        font-size: 12px;
    }
    
}

@media (max-width: 767px) {
    .col-4, .col-5, .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center; 
    }

    .section-one__image img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto; 
    }

    .section-one__button .row {
        flex-direction: column; 
    }

    .section-one__button .col-4 {
        width: 100%;
        margin-bottom: 10px; 
    }

    .section-one__ship {
        padding: 10px;
    }

    .section-one__request--input {
        display: flex;
        flex-direction: column;
    }

    .section-one__request--input input {
        margin-bottom: 5px;
    }
    .section-one__button--one button,
    .section-one__button--two button {
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: 20%;
    }
    .section-one__request--input input {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section-one__request--input button {
        width: 100%;
        border: none;
    }
    .section-one__call-registration{
        margin-left: 35%;
        font-size: 12px;
    }
    
}


/* css khung */

:root {
    --primary-color: #f6bb1d;
    --background-color: #f2efefe8;
    --text-color: #a7a0b4;
}

body {
    background-color: var(--background-color);
}


#left-bar .nav .nav-link {
    border-radius: 16px;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    font-weight: 680 !important;

}

#left-bar .nav .nav-link:first-child:not(:hover) {
    background-color: var(--primary-color);
    color: white;

}

#left-bar .nav:has(.nav-link:hover) .nav-link:first-child:not(:hover) {
    background-color: transparent;
    color: var(--text-color)
}

#left-bar .nav .nav-link:hover {
    border-radius: 16px;
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.1);

}

#left-bar .nav .nav-link:hover {}


#search-home {
    /* border-radius: 16px; */
    border: none;
}

#search-home:focus {
    outline: none !important;
    box-shadow: var(--primary-color) !important;
    border: none !important;
    filter: drop-shadow(0 0 0.25rem var(--primary-color));
}

.banner {
    width: 100%;
    height: 25%;
    overflow: hidden;
    background-image: url('./img/baner.png');
    background-size: cover;
}

@media (max-width: 36rem) {
    .banner{
        height: 10%;
    }
 
}

.category {
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.category:hover{
    transform: scale(1.1);
}


.category__img {
    background-image: url('./img/cake.png');
    width: 130px;
    height: 60px;
    background-position: center;
    background-size: cover;

}

.category__name {}

.card-food {
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.card-food > div{

}

.card-food:hover {
    transform: scale(1.1);

}

.card-food img {
    height: 140px;
    width: auto;
}

.card-food .card-rate {
    color: var(--primary-color);
}

#left-bar {
    position: fixed;
    margin-left: 6px;
}

#main-content{

}       

#right-bar {
    position: fixed;
    right: 0;
}

.order-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.order-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

.order-info {
    flex: 1;
}

.order-item .order-info input:checked{
    background-color: var(--primary-color);
    border: none !important;

}

.price {
    font-weight: bold;
    color: #ff9800;
    margin-left: auto;
}

.right-bar__footer button {
    background-color: var(--primary-color);
    font-weight: bold;
    border: 1px solid var(--primary-color);
    border-radius: 16px;

}

@keyframes hult{
    from{
        transform: scale(1.05);
    }
}

.right-bar__footer button:last-child{
    /* animation: hult 1s infinite alternate; */
    transition: all 0.3s ease-in-out;
}
.right-bar__footer button:last-child:hover{
    transform: scale(1.05);
}

.recently-order{
    max-height: 228px;
    overflow-y: auto;
    scrollbar-color: var(--primary-color) var(--primary-color);
    scrollbar-width: thin; 
}

.recently-order::-webkit-scrollbar-track{
    background-color: var(--primary-color);
}




